body {
    font-family: Arial, sans-serif;
    background-color: #af3691;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #9b0fdb;
  }
  
  form {
    background-color: #25fa6c;
    padding: 50px;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-right: 300px;
    margin-left: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #9c0034;
    color: #1cd32c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background-color: #0ff5bb;
    padding: 50px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  li h3 {
    margin-top: 0;
    color: #e71d93;
  }
  
  li p {
    color: #f6f4f8;
    font-weight: bolder;
    font-size: large;
    margin-bottom: 5px;
  }

  /* CHAT STYLES */

.container{
  margin: 2rem;
}

.container h1 {
  color: green;
  text-align: center;
  margin-bottom: 2rem;
}

.chat {
  height: 80vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.display-messages {
  display:flex;
  flex-direction: column;
  gap: .5rem;
  overflow-y: scroll;
  padding-block: 1rem;
}

.display-messages > div {
  display:flex;
  flex-direction: column;
  gap: .25rem;
  background-color:rgb(208, 206, 204);
  border-radius: 2rem;
  padding-inline: 2rem;
}

.display-messages > small {
  color: rgb(138, 123, 123);
}

.display-messages > p {
  color:black;
  font-size: 1.2rem;
}


.chat input {
  padding: 1rem;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
h1 {
  padding-top: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.list {
  display:flex;
  justify-content: center;
  margin: 2rem;
  width: 100%;
}

.list ul {
  display:flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
}

.list li {
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 1rem;
  background-color: rgb(205, 207, 207);
}

.info{
  display:flex;
  flex-direction: column;
  gap: .5rem;
}

.info h2 {
  text-align: center;
  text-transform: uppercase;
}

.info .price-stock {
  display:flex;
  justify-content: space-between;
}

.info p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info span {
  font-weight: bold;
}

.list li img {
  width: 100px;
  height: 100px;
}

.real-time-form {
  margin: 0 auto;
  max-width: 800px;
}

form {
  margin: 3rem;
  padding: 2rem;
  display:flex;
  flex-direction: column;
  gap: .5rem;
  background-color: beige;
}

form label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

form input, form textarea {
  width:100%;
  padding: 1rem;
}

button {
  padding:1rem;
  background-color: rgb(240, 169, 83);
  text-decoration: none;
  border: none;
}

button:hover {
  background-color: rgb(255, 161, 39);
}

/* CHAT STYLES */

.container{
  margin: 2rem;
}

.container h1 {
  color: green;
  text-align: center;
  margin-bottom: 2rem;
}

.chat {
  height: 80vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.display-messages {
  display:flex;
  flex-direction: column;
  gap: .5rem;
  overflow-y: scroll;
  padding-block: 1rem;
}

.display-messages > div {
  display:flex;
  flex-direction: column;
  gap: .25rem;
  background-color:rgb(208, 206, 204);
  border-radius: 2rem;
  padding-inline: 2rem;
}

.display-messages > small {
  color: rgb(138, 123, 123);
}

.display-messages > p {
  color:black;
  font-size: 1.2rem;
}


.chat input {
  padding: 1rem;
}