<div>
    <h1 class="title">Lista de productos</h1>
    <ul id="productList">
        {{#each products}}
            <li>
                <h2>
                    {{prop this 'title'}}
                </h2>
                <div class="description">
                    <p><span>Description:</span> {{prop this 'description'}}</p>
                </div>
                <div class="price-stock">
                    <p><span>Price:</span> ${{prop this 'price'}}</p>
                    <p><span>Stock:</span> {{prop this 'stock'}}</p>
                </div>
            </li>
        {{/each}}
    </ul>
</div>